{{!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Co_Win</title>
</head>
<body>

    <form action="">

        <select class="value" name="cars" id="cars">
          <option class=""  value="">Select</option>
          <option  value="1">1</option>
          <option  value="2">2</option>
          <option  value="3">3</option>
          <option  value="4">4</option>
        </select>
        <br><br>
        <hr>
        <select class="row3" name="cars" id="cars">
            <option class="row1" value="">Select</option>
          </select>
        <input type="submit" value="Submit">
      </form>
      <script src="js/home.js"></script> 
</body>
</html> --}}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
    crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
    integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />


  <title>Document</title>
</head>

<style>
  * {
    margin: 0;
    padding: 0;
  }

  .nav-text2 {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
  }

  .header {
    background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)), url(./img/siemens-healthineers-insights-issue-14-precision_diagnosis_diagnostic_accuracy_16-9.jpg);
    height: 755px;
    max-height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    clip-path: polygon(50% 100%, 100% 90%, 100% 0, 0 0, 0 90%);
    background-attachment: fixed;
  }

  /* Navbar */
  nav {
    padding-left: 20px;
  }

  .navbar-brand span {
    font-size: 2.5rem;
    color: #1DB954;
    font-weight: bold;
  }

  /* Navbar end */

  .wrapper {
    overflow: hidden;
    max-width: 700px;
    /* background: #fff; */
    /* padding: 30px; */
    box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.1);
  }

  .wrapper .title-text {
    display: flex;
    width: 200%;
  }

  .wrapper .title {
    width: 50%;
    font-size: 35px;
    font-weight: 600;
    text-align: center;
    transition: all 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }

  .wrapper .slide-controls {
    position: relative;
    display: flex;
    height: 50px;
    width: 100%;
    overflow: hidden;
    margin: 30px 0 10px 0;
    justify-content: space-between;
    border: 1px solid lightgrey;
    border-radius: 5px;
  }

  .slide-controls .slide {
    height: 100%;
    width: 100%;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    text-align: center;
    line-height: 48px;
    cursor: pointer;
    z-index: 1;
    transition: all 0.6s ease;
  }

  .slide-controls label.signup {
    color: #000;
  }

  .slide-controls .slider-tab {
    position: absolute;
    height: 100%;
    width: 50%;
    left: 0;
    z-index: 0;
    border-radius: 5px;
    background: -webkit-linear-gradient(left, #1DB954, #1e9648);
    transition: all 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }

  input[type="radio"] {
    display: none;
  }

  #signup:checked~.slider-tab {
    left: 50%;
  }

  #signup:checked~label.signup {
    color: #fff;
    cursor: default;
    user-select: none;
  }

  #signup:checked~label.login {
    color: #000;
  }

  #login:checked~label.signup {
    color: #000;
  }

  #login:checked~label.login {
    cursor: default;
    user-select: none;
  }

  .form-container .form-inner {
    display: flex;
    width: 200%;
  }

  .form-container .form-inner form {
    width: 50%;
    transition: all 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }

  th,
  .value {
    text-align: center;
  }

  /* @media only screen and (max-width: 992px) {
    .nav-text2 {
      top: 40%;
      left: 50%;
    }
  } */
</style>


<body>

  <section class="header">
    <nav class="navbar navbar-expand-lg navbar-dark ">
      <div class="container-fluid">
        <a class="navbar-brand" href="/"><span>C O V I D - 1 9</span></a>
      </div>
    </nav>
  </section>

  <div class="nav-text2">
    <h2>Search Your Nearest Vaccination Center</h2>
    <h6>Get a preview list of the nearest centers and check availability of vaccination slots</h6>
    <a href="" style="text-decoration: none; font-size: 20px;">Login to book your slot</a>

    <div class="wrapper">
      <div class="form-container">
        <div class="slide-controls">
          <input type="radio" name="slide" id="login" checked>
          <input type="radio" name="slide" id="signup">
          <label for="login" class="slide login" style="color: white;">By District</label>
          <label for="signup" class="slide signup" style="color: white;">By PIN</label>
          <div class="slider-tab"></div>
        </div>
        <div class="form-inner">
          <form action="#" class="login">
            <div class="row">
              <div class="col-md-5">
                <select class="value" name="cars" id="cars"
                  style="padding: 8px; width: 260px; border-radius: 5px; margin-bottom: 5px;">
                  <option class="statelist" value="null">Select Your State</option>
                 
                </select>
              </div>
              <div class="col-md-5">
                <select class="district" id="cars"
                  style="padding: 8px; width: 260px; border-radius: 5px; margin-bottom: 5px;">
                  <option class="dis" value="">Select District</option>
                  
                </select>
              </div>
              <div class="col-md-2">
                <button type="button" id="btn" class="btn btn-primary">Search</button>
              </div>
            </div>
          </form>
          <form action="#" class="signup">
            <div class="row">
              <div class="col-md-10">
                <input type="text" class="form-control" id="pin" placeholder="Enter your pin" style="margin-bottom: 5px;">
              </div>
              <div class="col-md-2">
                <button type="button" id="btn1" class="btn btn-primary">Search</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

  <!-- Table Start -->
  <div class="container-fluid mt-3 table-responsive">
    <table class="table table-bordered border-success text-white" style="background-color: #000; ">
      <thead>
        <tr class="date">
          <th scope="col">Covishild</th>
          <th scope="col">Covaxin</th>
          <th scope="col">Sputnik V</th>
          <th scope="col">Free</th>
          <th scope="col">Show All</th>
          <th scope="col">18 +</th>
        </tr>
        {{!-- <tr>
          <th scope="col"></th>
          <th scope="col">Sat, 15 Jan</th>
          <th scope="col">Sat, 15 Jan</th>
          <th scope="col">Sat, 15 Jan</th>
          <th scope="col">Sat, 15 Jan</th>
          <th scope="col">Sat, 15 Jan</th>
        </tr> --}}
      </thead>
      <tbody class="center" >
        
        {{!-- <tr class="align-middle">
          <td style="max-width: 150px;">ALIPURDUAR DISTRICT HOSPITAL 3 Alipurduar DH, Alipurduar District, West Bengal,
            736121 <br> COVAXIN <span class="badge bg-success">Free</span> <br> Age: 18 & Above <span
              style="padding-left: 100px;">Dose: #1-45 ,  Dose: #2-46</span></td>
          <td class="value">Booked</td>
          <td class="value">N/A</td>
          <td class="value">N/A</td>
          <td class="value">N/A</td>
          <td class="value">N/A</td>
        </tr> --}}

        {{!-- <tr class="align-middle">
          <td style="max-width: 150px;">ALIPURDUAR DISTRICT HOSPITAL 3 Alipurduar DH, Alipurduar District, West Bengal,
            736121 <br> COVAXIN <span class="badge bg-success">Free</span> <br> Age: 18 & Above <span
              style="padding-left: 140px;">Dose: #1</span></td>
          <td class="value">Booked</td>
          <td class="value">N/A</td>
          <td class="value">N/A</td>
          <td class="value">N/A</td>
          <td class="value">N/A</td>
        </tr>
        <tr class="align-middle">
          <td style="max-width: 150px;">ALIPURDUAR DISTRICT HOSPITAL 3 Alipurduar DH, Alipurduar District, West Bengal,
            736121 <br> COVAXIN <span class="badge bg-success">Free</span> <br> Age: 18 & Above <span
              style="padding-left: 140px;">Dose: #1</span></td>
          <td class="value">Booked</td>
          <td class="value">N/A</td>
          <td class="value">N/A</td>
          <td class="value">N/A</td>
          <td class="value">N/A</td>
        </tr> --}}
        
      </tbody>
    </table>
    <!-- Table End -->

    <div class="container-fluid" style="background-color: #000;">
      <!-- bg-dark -->
      <div class="row" style="text-align: center; padding-top: 50px; padding-bottom: 25px;">
        <div class="col-md-7">
          <h2 class="text-white"><i class="fas fa-prescription-bottle-alt"></i><i
              class="fas fa-syringe"></i>&nbsp;&nbsp;Total Vaccination Doses</h2>
          <p class="text-white"
            style="text-shadow: 0 0 10px #34db13, 0 0 20px #11ec09, 0 0 40px #33ff00, 0 0 80px #09ff00, 0 0 120px #3cff00;">
            India marches beyond 1 Billion Vaccine doses</p>
        </div>
        <div class="col-md-5">
          <!-- <img class="img-fluid" src="../Desktop/siemens-healthineers-insights-issue-14-precision_diagnosis_diagnostic_accuracy_16-9.jpg" alt=""> -->
          <!-- <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 500x500" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#eee"></rect><text x="50%" y="50%" fill="#aaa" dy=".3em">500x500</text></svg> -->
          <h2 class="text-success">+1234567</h2>
        </div>
      </div>
      <!-- </div> -->
      <hr class="text-white" style="height: 10px;">
      <!-- <div class="container-fluid"> -->
      <div class="row" style="text-align: center; padding-top: 25px; padding-bottom: 50px; margin-bottom: 50px;">
        <div class="col-md-7">
          <!-- <img class="img-fluid" src="../Desktop/siemens-healthineers-insights-issue-14-precision_diagnosis_diagnostic_accuracy_16-9.jpg" alt=""> -->
          <!-- <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 500x500" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#eee"></rect><text x="50%" y="50%" fill="#aaa" dy=".3em">500x500</text></svg> -->
          <h2 class="text-success">+1234567</h2>
        </div>
        <div class="col-md-5">
          <h2 class="text-white"><i class="fas fa-syringe"></i>&nbsp;&nbsp;Vaccinations Done Today</h2>
          <p class="text-white"
            style="text-shadow: 0 0 10px #34db13, 0 0 20px #11ec09, 0 0 40px #33ff00, 0 0 80px #09ff00, 0 0 120px #3cff00;">
            India sets world record of 2.5 Cr+ Vaccinations in a day</p>
        </div>
      </div>
    </div>

  </div>



</body>

<script>
  const loginText = document.querySelector(".title-text .login");
  const loginForm = document.querySelector("form.login");
  const loginBtn = document.querySelector("label.login");
  const signupBtn = document.querySelector("label.signup");
  const signupLink = document.querySelector("form .signup-link a");
  signupBtn.onclick = (() => {
    loginForm.style.marginLeft = "-50%";
    loginText.style.marginLeft = "-50%";
  });
  loginBtn.onclick = (() => {
    loginForm.style.marginLeft = "0%";
    loginText.style.marginLeft = "0%";
  });
  signupLink.onclick = (() => {
    signupBtn.click();
    return false;
  });
</script>
<script src="js/home.js"></script> 

</html>